.scrollTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    z-index: 20;
    border-radius: 50%;
    background: #6EEB83;
    cursor: pointer;

    &:hover {
        background: #FFF;
    }

    & svg {
        fill: #272727;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media(max-width: 1024px) {

    .scrollTop {
        bottom: 174px;
        right: 23px;
    }

}

@media(max-width: 767px) {

    .scrollTop {
        bottom: 118px;
        right: 28px;
        width: 40px;
        height: 40px;

        & svg {
            width: 18px;
            height: 18px;
        }
    }
}

@media(max-width: 425px) {

    .scrollTop {
        bottom: 100px;
        right: 15px;
    }
}