.wrapper {
    display: flex;
    position: relative;
}

.content {
    padding: 70px 0 60px;
    max-width: 977px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 148px;
}

@media(max-width:1024px) {

    .content {
        padding: 96px 23px 185px;
        margin-left: 0px;
    }
}

@media(max-width:767px) {

    .content {
        padding: 81px 43px 145px;
    }
}

@media(max-width:425px) {

    .content {
        padding: 81px 30px 145px;
    }
}