.wrapper {
    display: flex;
    position: relative;
}

.content {
    padding: 70px 15px 60px 0;
    max-width: 992px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 148px;
}

@media(max-width:1024px) {

    .content {
        max-width: 100%;
        padding: 45px 23px 210px;
        margin-left: 0px;
        position: static;
    }
}

@media(max-width:767px) {

    .content {
        padding: 45px 28px 190px;
    }
}

@media(max-width:425px) {

    .content {
        padding: 45px 15px 155px;
    }
}