.wrapper {
    display: flex;
    position: relative;
}

.content {
    padding: 70px 53px 60px;
    margin-left: 95px;
    width: 100%;
    max-width: 1083px;
    position: relative;
    z-index: 0;
}

@media(max-width:1024px) {

    .content {
        padding: 96px 23px 185px;
        margin-left: 0px;
    }
}

@media(max-width:767px) {

    .content {
        padding: 81px 43px 145px;
    }
}

@media(max-width:425px) {

    .content {
        padding: 81px 30px 145px;
    }
}