.inner {
    display: flex;
    position: relative;
    min-height: 217px;

    &:not(:last-child) {
        margin-bottom: 33px;
    }
}

.info {
    padding-top: 7px;
    max-width: 73px;
    width: 100%;
}

.data {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    text-align: right;
    margin-bottom: 14px;

    & span {
        display: block;
    }
}

.mail {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    transform: rotate(-90deg) translate(-36%, 26%);
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
    overflow: hidden;
    width: 120px;
}

.content {
    padding-left: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-family: 'DM Serif Display';
    font-size: 32px;
    line-height: 44px;
    color: #6EEB83;
    margin-bottom: 19px;
    display: inline-block;
    word-break: break-all;
    padding-right: 130px;

    &:hover {
        color: #FFF;
    }
}

.text {
    margin-bottom: auto;

    & a {
        font-family: 'Lexend Deca';
        font-weight: 200;
        font-size: 20px;
        line-height: 25px;
        color: #6EEB83;
        margin: 0px 0px 0px 4px;

        &:hover {
            color: #FFF;
        }
    }
}

.tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;

    & li {
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        color: #6EEB83;
        padding: 7px 18px;
        border: 1px solid #6EEB83;
        border-radius: 100px;
        margin: 8px 16px 0px 0px;
    }
}

.views {
    position: absolute;
    top: 12px;
    right: 0;
}

@media(max-width:767px) {

    .inner {
        flex-direction: column;
        min-height: auto;
    }

    .info {
        padding-top: 0px;
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        order: 2;
    }

    .mail {
        transform: rotate(0deg) translate(0%, 0%);
        width: auto;
        max-width: 300px;
    }

    .data {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 0;
        text-transform: uppercase;

        & span {
            display: inline-block;
            margin-right: 5px;
        }
    }

    .content {
        padding: 0;
        margin-bottom: 22px;
    }

    .title {
        padding-right: 0;
        margin-bottom: 11px;
        font-size: 24px;
        line-height: 33px;
    }

    .text {
        font-size: 16px;
        line-height: 20px;

        & a{
            font-size: 16px;
            line-height: 20px;
        }
    }

    .tags {
        margin-top: 8px;

        & li {
            font-size: 10px;
            line-height: 12px;
            padding: 10px 14px;
            margin: 8px 8px 0px 0px;
        }
    }

    .views {
        display: none;
    }
}

@media(max-width:425px) {
    
    .mail {
        max-width: 175px;
    }
}