.sidebarContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 95px;
    height: 100%;
    z-index: 1;
}

.sidebar {
    width: 95px;
    border: 1px solid #6EEB83;
    border-width: 1px 1px 0px 1px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 98px 12px 40px;

    & a {
        display: block;
    }

    & svg {
        width: 40px;
        height: 40px;
    }
}

.avatar {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    margin-bottom: 41px;
    position: relative;

    & p {
        font-size: 32px;
        line-height: 66px;
        text-transform: uppercase;
        text-align: center;
        cursor: pointer;
    }
}

.avatarBox {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    left: 96px;
    width: 200px;
    padding: 10px;
    border: 5px solid #FFF;
    background: #272727;

    & a {
        display: inline-block;
    }
}

.search {
    text-align: center;
    margin-bottom: 25px;
    position: relative;
}

.searchBox {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    left: 97px;
    width: 610px;
    background: #FFF;
    padding: 5px;

    & input {
        margin: 0;
    }
}

.trending {
    text-align: center;
    margin-bottom: 166px;
}

.create {
    text-align: center;
}

@media(max-width:1024px) {

    .sidebarContainer {
        position: fixed;
        top: auto;
        bottom: 40px;
        width: 100%;
        height: auto;
        padding: 0 23px;
    }

    .sidebar {
        background: #272727;
        border-width: 1px 1px 1px 1px;
        height: auto;
        padding: 30px 50px 25px 72px;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        & a {
            font-size: 20px;
            line-height: 25px;
            display: flex;
            align-items: center;
        }

        & svg {
            margin-right: 7px;
        }
    }

    .avatar {
        margin: 0;
    }

    .avatarBox {
        top: -66px;
        transform: translate(-50%, 0%);
        left: 50%;
    }

    .search {
        margin: 0;
        width: 130px;
    }

    .searchBox {
        top: -79px;
        transform: translate(-50%, 0%);
        left: 50%;
        width: 450px;
    }

    .trending {
        margin: 0;
        width: 130px;
    }

    .create {
        width: 130px;
    }
}

@media(max-width:767px) {

    .sidebarContainer {
        padding: 0 28px;
    }

    .sidebar {
        padding: 14px 55px;

        & a {
            font-size: 0;
            line-height: 0;
        }

        & svg {
            margin: 0;
            width: 40px;
            height: 40px;
        }
    }

    .avatarBox {
        width: 140px;
        top: -60px;

        & a {
            font-size: 16px;
            line-height: 20px;
        }
    }

    .avatar {
        width: 40px;
        height: 40px;

        & p {
            font-size: 20px;
            line-height: 40px;
        }
    }

    .searchBox {
        width: 250px;
        top: -82px;
    }

    .search {
        width: auto;
    }

    .trending {
        width: auto;
    }

    .create {
        width: auto;
    }
}

@media(max-width:425px) {

    .sidebarContainer {
        padding: 0 15px;
    }

    .sidebar {
        padding: 15px 25px;
    }

    .avatarBox {
        transform: translate(0%, 0%);
        left: -26px;
    }

    .searchBox {
        transform: translate(0%, 0%);
        left: -92px;
        width: 290px;
    }
}