.sidebarContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 95px;
    height: 100%;
    z-index: 1;
}

.sidebar {
    width: 95px;
    border: 1px solid #6EEB83;
    border-width: 1px 1px 0px 1px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 98px 12px 40px;

    & a{
        display: block;
    }

    & svg{
        width: 40px;
        height: 40px;
    }
}

.avatar {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background: #6EEB83;
    margin-bottom: 41px;

    & p {
        font-size: 32px;
        line-height: 66px;
        color: #000000;
        text-transform: uppercase;
        text-align: center;
    }
}

.search {
    text-align: center;
    margin-bottom: 25px;
    position: relative;
}

.searchBox{
    position: absolute;
    top: -3px;
    left: 97px;
    width: 610px;
    background: #FFF;
    padding: 5px;

    & input{
        margin: 0;
    }
}

.trending {
    text-align: center;
    margin-bottom: 166px;
}

.create {
    text-align: center;
}