.notificContainer{
    position: fixed;
    top: 44px;
    right: 73px;
    z-index: 10;
}

@media(max-width:1024px){

    .notificContainer{
        top: 45px;
        right: 45px;
    }
}

@media(max-width:560px){

    .notificContainer{
        top: 15px;
        right: 0;
        left: 0;
        display: flex;
        justify-content: center;
    }
}